In [ ]:
import pandas as pd
data = pd.read_csv( "/content/data.csv", encoding='unicode_escape' )
data.head()

# courtesy of https://towardsdatascience.com/named-entity-recognition-ner-using-keras-bidirectional-lstm-28cd3f301f54

    Sentence #      Word POS Tag
0  Sentence: 1        My   .   O
1          NaN  sobriety   .   O
2          NaN      date   .   O
3          NaN        is   .   O
4          NaN  2202022,   .   O

In [ ]:
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    else:
        vocab = list(set(data['Tag'].to_list()))
    
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok


token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [ ]:
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)
data.head()

    Sentence #      Word POS Tag  Word_idx  Tag_idx
0  Sentence: 1        My   .   O      1779        2
1          NaN  sobriety   .   O       179        2
2          NaN      date   .   O      1417        2
3          NaN        is   .   O      2700        2
4          NaN  2202022,   .   O      1832        2

In [ ]:
# Fill na
data_fillna = data.fillna(method='ffill', axis=0)
# Groupby and collect columns
data_group = data_fillna.groupby(
['Sentence #'],as_index=False
)['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))
# Visualise data
data_group.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,Sentence #,Word,POS,Tag,Word_idx,Tag_idx
0,Sentence: 1,"[My, sobriety, date, is, 2202022,, and, today,...","[., ., ., ., ., ., ., ., ., ., .]","[O, O, O, O, O, O, O, O, O, O, O]","[1779, 179, 1417, 2700, 1832, 1526, 745, 227, ...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]"
1,Sentence: 10,"[Maybe, you're, like, me, and, feel, you, need...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[1761, 1210, 1098, 847, 1526, 615, 205, 306, 2...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
2,Sentence: 100,"[The, thought, makes, me, cringe, .]","[., ., ., ., ., .]","[O, O, O, O, O, O]","[2788, 1923, 1369, 847, 3083, 366]","[2, 2, 2, 2, 2, 2]"
3,Sentence: 101,"[I, do, not, want, to, experience, what, I, di...","[., ., ., ., ., ., ., ., ., ., ., ., ., .]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O]","[1817, 2402, 1160, 998, 2127, 2724, 2732, 1817...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]"
4,Sentence: 102,"[Today's, gonna, be, rough,, but, as, I, alway...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[2228, 208, 2925, 1516, 77, 2763, 1817, 2071, ...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
5,Sentence: 103,"[IWNDWYT, I, have, been, sober, for, just, ove...","[., ., ., ., ., ., ., ., ., ., .]","[O, O, O, O, O, O, O, O, O, O, O]","[2610, 1817, 2450, 707, 1987, 2394, 2585, 530,...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]"
6,Sentence: 104,"[For, some, reason, this, time, feels, differe...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[2993, 2291, 710, 3026, 2154, 812, 1655, 1098,...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
7,Sentence: 105,"[I, have, a, friend, who, has, been, on, and, ...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, Person, O, O, O, O, O, O, O, O, O, O...","[1817, 2450, 237, 719, 1894, 1762, 707, 1494, ...","[2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
8,Sentence: 106,"[She, called, me, yesterday, .]","[., ., ., ., .]","[O, O, O, O, O]","[2875, 262, 847, 2900, 366]","[2, 2, 2, 2, 2]"
9,Sentence: 107,"[The, thing, that, struck, me, most, was, the,...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[2788, 1379, 2693, 1576, 847, 1454, 1220, 726,...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
10,Sentence: 108,"[The, kind, that, I, used, to, tell,, the, kin...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[2788, 1566, 2693, 1817, 1616, 2127, 1223, 726...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
11,Sentence: 109,"[Before,, I, would, have, played, along, with,...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[2153, 1817, 209, 2450, 246, 2689, 2759, 726, ...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
12,Sentence: 11,"[It, doesn't, matter, if, you're, still, hung,...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[2129, 1831, 3016, 2042, 1210, 2980, 1443, 530...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
13,Sentence: 110,"[Like, I, said,, though,, this, time, for, me,...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[804, 1817, 3076, 2219, 3026, 2154, 2394, 847,...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
14,Sentence: 111,"[It, was, harrowing, really,, to, realise, how...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[2129, 1220, 1701, 1355, 2127, 2847, 2313, 205...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
15,Sentence: 112,"[Lying, to, others, and, lying, to, yourself, .]","[., ., ., ., ., ., ., .]","[O, O, O, O, O, O, O, O]","[842, 2127, 185, 1526, 2894, 2127, 426, 366]","[2, 2, 2, 2, 2, 2, 2, 2]"
16,Sentence: 113,"[Stp, one, for, recovery:, stop, lying, and, f...","[., ., ., ., ., ., ., ., ., ., .]","[O, O, O, O, O, O, O, O, O, O, O]","[313, 303, 2394, 2629, 2006, 2894, 1526, 2419,...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]"
17,Sentence: 114,"[Feel, great, but, sleep, is, still, not, wher...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., .]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O]","[2936, 1906, 77, 643, 2700, 2980, 1160, 394, 1...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]"
18,Sentence: 115,"[Maybe, a, few, more, days, and, that, will, b...","[., ., ., ., ., ., ., ., ., ., ., ., .]","[O, O, O, O, O, O, O, O, O, O, O, O, O]","[1761, 237, 657, 1637, 2965, 1526, 2693, 860, ...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]"
19,Sentence: 116,"[IWNDWYT, *We, may, be, anonymous, strangers, ...","[., ., ., ., ., ., ., ., ., ., ., ., ., ., ., ...","[O, O, O, O, O, Person, O, O, O, O, O, O, O, O...","[2610, 2383, 91, 2925, 1349, 2488, 1494, 726, ...","[2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."

In [ ]:
from sklearn.model_selection import train_test_split
# from keras.preprocessing.sequence import pad_sequences
from keras_preprocessing.sequence import pad_sequences
# !pip install keras-utils
from tensorflow.keras.utils import to_categorical

In [ ]:
def get_pad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)    
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 672
train_tokens length: 672
test_tokens length: 100
test_tags: 100
val_tokens: 225
val_tags: 225

In [ ]:
def get_trim_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)    
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=20, dtype='int32', truncating='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=20, dtype='int32', truncating='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_trim_train_test_val(data_group, data)

train_tokens length: 672
train_tokens length: 672
test_tokens length: 100
test_tags: 100
val_tokens: 225
val_tags: 225

In [ ]:
def get_nopad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)    
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = tokens

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = tags
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_nopad_train_test_val(data_group, data)

train_tokens length: 672
train_tokens length: 672
test_tokens length: 100
test_tags: 100
val_tokens: 225
val_tags: 225

In [ ]:
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

In [ ]:
from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)

In [ ]:
input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 64
# input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
input_length = 20
n_tags = len(tag2idx)
print('input_dim: ', input_dim, '\noutput_dim: ', output_dim, '\ninput_length: ', input_length, '\nn_tags: ', n_tags)

input_dim:  3118
output_dim:  64
input_length:  20
n_tags:  3

In [ ]:
def get_bilstm_lstm_model():
    model = Sequential()

    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim))

    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))

    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))

    # Add timeDistributed Layer
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))

    #Optimiser 
    # adam = k.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999)

    # Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()
    
    return model

In [ ]:
def get_unameliorated_bilstm_lstm_model():
    model = Sequential()

    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))

    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))

    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))

    # Add timeDistributed Layer
    # model.add(TimeDistributed(Dense(n_tags, activation="relu")))

    #Optimiser 
    # adam = k.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999)

    # Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()
    
    return model

In [ ]:
def train_model(X, y, model):
    loss = list()
    for i in range(5):
        # fit model for one epoch on this sequence
        hist = model.fit(X, y, batch_size=1, verbose=1, epochs=1, validation_split=0.2)
        loss.append(hist.history['loss'][0])
    return loss

In [ ]:
results = pd.DataFrame()
model_bilstm_lstm = get_bilstm_lstm_model()
plot_model(model_bilstm_lstm)
results['with_add_lstm'] = train_model( train_tokens, np.array(train_tags), model_bilstm_lstm)

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, None, 64)          199552

 bidirectional_4 (Bidirectio  (None, None, 128)        66048
 nal)

 lstm_9 (LSTM)               (None, None, 64)          49408

 time_distributed_4 (TimeDis  (None, None, 3)          195
 tributed)

=================================================================
Total params: 315,203
Trainable params: 315,203
Non-trainable params: 0
_________________________________________________________________

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.

ValueError: ignored

In [ ]:
results.head()

   with_add_lstm
0       0.103203
1       0.079540
2       0.079546
3       0.079540
4       0.079540

In [ ]:
results1 = pd.DataFrame()
unameliorated_model_bilstm_lstm = get_unameliorated_bilstm_lstm_model()
plot_model(unameliorated_model_bilstm_lstm)
results1['with_add_lstm'] = train_model(train_tokens, np.array(train_tags), unameliorated_model_bilstm_lstm)

In [ ]:
sentence1 = np.array( ["Friends", "and", "family", "at", "the", "bar"] )
tokens1 = list( map( lambda x: token2idx[x], sentence1 ) )
testicle_uno = np.concatenate( [np.array( tokens1 ), np.array( [3117 for i in range( 14 )] )], axis=0 )
predicciones = model_bilstm_lstm( np.array(  [testicle_uno for i in range(10)] ) )

In [ ]:
idx2token[2839]

'alone'

In [ ]:
predicciones[0][0]

<tf.Tensor: shape=(12,), dtype=float32, numpy=
array([0.        , 0.        , 0.        , 0.02500861, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        ], dtype=float32)>

In [ ]:
answers_uno = np.concatenate( [np.array( [10, 3, 4, 3, 3, 0] ), np.array( [3 for i in range( 14 )] )], axis=0 )
answers_uno = np.array( [10, 3, 4, 3, 3, 0] )
target_uno = np.eye( 168 )[answers_uno]
target_uno = target_uno[:, :12]
# model_bilstm_lstm.evaluate( np.array( [testicle_uno for i in range(25)] ), np.array( [target_uno for i in range(25)] ), batch_size=25 )
model_bilstm_lstm.evaluate( np.array( [testicle_uno[:6]] ), np.array( [target_uno] ) )

1/1 [==============================] - 1s 1s/step - loss: 8.0590 - accuracy: 0.5000

[8.05904769897461, 0.5]

In [ ]:
target_uno

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
idx2tag

{0: 'Location:bar',
 1: 'Person:stranger',
 2: 'Person:alone',
 3: 'O',
 4: 'Person:family',
 5: 'Location:work',
 6: 'Person:partner',
 7: 'Location:school',
 8: 'Person:one_friend',
 9: 'Location:home',
 10: 'Person:multiple_friends',
 11: 'Location:supermarket'}

array([[0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.]])

array([[0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.]])